# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Caché de Python y otros archivos temporales
.cache

# Archivos de entorno
.env
*.env

# Base de datos local
*.db
assistant_logs.db

# Directorios que no deseas versionar
ProyectoAsistenteVoz/
Modelos_voz/
