# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Caché de Python y otros archivos temporales
.cache/

# Archivo de entorno
ProyectoAsistenteVoz/
*.env
.cache

#Ignorar modelo de voz
Modelos_voz/
.cache
.env

#base de datos local 
.db
