/* Modo claro por defecto */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

/* Modo oscuro */
.dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background 0.3s, color 0.3s;
}

#app {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Interruptor */
/* Posicionar el botón en la esquina superior derecha */
.switch {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 17px;
    display: inline-block;
    width: 64px;
    height: 34px;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
}

.sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

/* Animaciones */
.sun svg {
    animation: rotate 15s linear infinite;
}

@keyframes rotate {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}

.moon svg {
    animation: tilt 5s linear infinite;
}

@keyframes tilt {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    75% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
}

.input:checked + .slider {
    background-color: #183153;
}

.input:checked + .slider:before {
    transform: translateX(30px);
}
